In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("darkgrid", {"grid.color": ".6"})

In [2]:
sit_1_df = pd.read_csv('processed/biogeme_Situation1.txt', sep='\t', index_col='Id').drop('Unnamed: 245', axis=1)
sit_2_df = pd.read_csv('processed/biogeme_Situation2.txt', sep='\t', index_col='Id').drop('Unnamed: 245', axis=1)
sit_3_df = pd.read_csv('processed/biogeme_Situation3.txt', sep='\t', index_col='Id').drop('Unnamed: 245', axis=1)

In [3]:
sit_1_df['Situation'] = int(1)
sit_1_df['Situation'] = int(2)
sit_1_df['Situation'] = int(3)

In [4]:
dfs = [sit_1_df, sit_2_df, sit_3_df]
merged_df = pd.concat(dfs)

In [5]:
merged_df

,Choice,Frequency,Age,Gender,Direct_next_1,Direct_next_2,Direct_next_3,Direct_next_4,Direct_next_5,Direct_next_6,...,SEATAV_32,SEATAV_33,SEATAV_34,SEATAV_35,SEATAV_36,SEATAV_37,SEATAV_38,SEATAV_39,SEATAV_40,Situation
Id,,,,,,,,,,,,,,,,,,,,,
1,8,2,2,1,1,99999,0,0,0,0,...,1,1,1,1,1,1,1,0,0,3.0
2,32,2,3,2,1,99999,0,0,0,0,...,1,1,1,1,1,1,1,0,0,3.0
3,19,3,2,2,1,99999,0,0,0,0,...,1,1,1,1,1,1,1,0,0,3.0
4,32,2,1,1,1,99999,0,0,0,0,...,1,1,1,1,1,1,1,0,0,3.0
5,10,1,2,1,1,99999,0,0,0,0,...,1,1,1,1,1,1,1,0,0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,15,2,1,2,1,99999,99999,1,99999,1,...,0,0,1,0,0,1,1,1,0,NaN
510,12,2,3,1,1,99999,99999,1,99999,1,...,0,0,1,0,0,1,1,1,0,NaN
511,12,3,2,2,1,99999,99999,1,99999,1,...,0,0,1,0,0,1,1,1,0,NaN
512,11,2,2,1,1,99999,99999,1,99999,1,...,0,0,1,0,0,1,1,1,0,NaN
513,12,3,1,2,1,99999,99999,1,99999,1,...,0,0,1,0,0,1,1,1,0,NaN

In [6]:
sit_1_df.to_csv('processed/biogeme_Situation1.dat', sep='\t')
sit_2_df.to_csv('processed/biogeme_Situation2.dat', sep='\t')
sit_3_df.to_csv('processed/biogeme_Situation3.dat', sep='\t')
merged_df.to_csv('processed/biogeme_all_situations.dat', sep='\t')